<ion-app>
  <ion-split-pane contentId="main">
    <!--  our side menu  -->
    <ion-menu contentId="main">
      <ion-content>
        <ion-list>
          <ion-item
            (click)="handleActions({type: 'openModal', payload: item})"
            *ngFor="let item of datas$|async|groupBy: 'Country_Region'; let i = index">
          <ion-chip slot="start">
            {{i + 1}}
          </ion-chip>
          {{item?.key}}
          <ion-badge slot="end">
            {{item?.value|totalBy:'Confirmed'}}
          </ion-badge>
        </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- the main content -->
    <!-- <ion-router-outlet id="main"></ion-router-outlet> -->
    <ion-content id="main">
      <app-olmap
          #map
          [data]="datas$|async|groupBy: 'Country_Region'"
          [options]="{radiusMarkerKey: 'Confirmed', zoom: 6}"
          (action)="handleActions($event)"></app-olmap>
    </ion-content>
  </ion-split-pane>
</ion-app>