<ion-app>
  <ion-split-pane contentId="main">
    <!--  our side menu  -->
    <ion-menu contentId="main">
      <ion-content class="ion-padding-top">
        <ion-text color="danger" class="ion-text-center">
          <p class="total">
            {{total$|async}}
          </p>
        </ion-text>
        <!-- select options -->
        <ion-item lines="none" class="ion-margin-bottom">
          <ion-select (ionChange)="handleActions({type: 'select', payload: $event})" [(ngModel)]="selectedValue" placeholder="Select One">
            <ion-select-option value="Confirmed">Confirmed</ion-select-option>
            <ion-select-option value="Recovered">Recovered</ion-select-option>
            <ion-select-option value="Active">Active</ion-select-option>
            <ion-select-option value="Deaths">Deaths</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- search filter -->
        <ion-searchbar class="ion-padding-top ion-margin-top" (ionChange)="handleActions({type: 'search', payload: $event})"></ion-searchbar>
        <!-- list country -->
        <ion-list>
          <ion-item
            (click)="handleActions({type: 'openModal', payload: item})"
            *ngFor="let item of datas$|async|groupBy: 'Country_Region'; let i = index">
          <ion-chip slot="start">
            {{i + 1}}
          </ion-chip>
          {{item?.key}}
          <ion-badge slot="end">
            {{item?.value|totalBy:selectedValue}}
          </ion-badge>
        </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet id="main">
      <ion-header translucent="true">
        <ion-toolbar>
          <ion-menu-button color="primary" slot="start"></ion-menu-button>
        </ion-toolbar>
      </ion-header>
      <ion-content fulscreen="true">
        <app-olmap
            #map
            [data]="datas$|async|groupBy: 'Country_Region'"
            [options]="{radiusMarkerKey: selectedValue, zoom: 6}"
            (action)="handleActions($event)"></app-olmap>
      </ion-content>      
    </ion-router-outlet>

  </ion-split-pane>
</ion-app>